* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3d3d3;
}

form {
    background-color: #F8F8F8;
    width: 350px;
    min-height: 700px;
    padding: .75rem;
}

ul {
    list-style-type: none;
    padding-left: .75rem;
}

li {
    list-style: none;
    position: relative;
    margin-bottom: .75rem;
    padding: .75rem;
    border: 1px dashed #d3d3d3;
}

button.button {
    margin-left: .75rem;
    width: calc(100% - .75rem) !important;
}
.fa-downcase-a:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'a';
}